version: '3.9'

services:

  spring-cloud-config:
    build: spring-cloud-config-server/
    container_name: spring-cloud-config
    expose:
      - "8888"

  payment-service:
    build: payment-service/
    container_name: payment-service
    expose:
      - "8189"
    depends_on:
      - payment-db
      - spring-cloud-config
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=payment-db
      - POSTGRES_URL=payment-db:5432/payment-db
      - CONFIG_URL=http://spring-cloud-config:8888
    tty: true

#todo check SOAP_URL
  study-center:
    build: study-center/
    container_name: study_center
    ports:
      - "8190:8190"
    depends_on:
      - study-db
      - payment-service
      - spring-cloud-config
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=study-db
      - POSTGRES_URL=study-db:5432/study-db
      - SOAP_URL=http://payment-service:8189/ws
      - CONFIG_URL=http://spring-cloud-config:8888
    tty: true

  payment-db:
    image: postgres:14.1-alpine
    container_name: payment-db
    expose:
      - "5432"
    volumes:
      - ./.docker/database/init/payment:/docker-entrypoint-initdb.d/
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=payment-db
    tty: true


  study-db:
    image: postgres:14.1-alpine
    container_name: study-db
    expose:
      - "5432"
    volumes:
      - ./.docker/database/init/study:/docker-entrypoint-initdb.d/
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=study-db
    tty: true