version: '2.4'

services:

  cloud-config:
    build: spring-cloud-config-server/
    container_name: cloud-config
    ports:
      - "8888:8888"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always
    networks:
      - m-net
      - elk

  discovery-service:
    build: discovery-service/
    container_name: discovery-service
    ports:
      - "8761:8761"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always
    networks:
      - m-net
      - elk

  gateway-service:
    build: gateway-service/
    container_name: gateway-service
    ports:
      - "8090:8080"
    healthcheck:
      test:  [ "CMD", "curl", "-f", "http://localhost:8090/actuator/health" ]
      interval: 25s
      timeout: 5s
      retries: 3
    depends_on:
      cloud-config:
        condition: service_healthy
      study-center:
        condition: service_started
      payment-service:
        condition: service_healthy
    environment:
      SERVER_PORT: 8080
      CONFIG_URL: http://cloud-config:8888
      EUREKA_URI: http://discovery-service:8761/eureka/
    restart: always
    networks:
      - m-net
      - elk

  payment-service:
    build: payment-service/
    container_name: payment-service
    ports:
      - "8189:8189"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://payment-service:8189/actuator/health" ]
      interval: 25s
      timeout: 5s
      retries: 4
    depends_on:
      cloud-config:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      payment-db:
        condition: service_started
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      CONFIG_URL: http://cloud-config:8888
      EUREKA_URI: http://discovery-service:8761/eureka/
    restart: on-failure
    networks:
      - m-net
      - elk

  study-center:
    build: study-center/
    container_name: study-center
    ports:
      - "80:80"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://study_center:8080/actuator/health" ]
      interval: 25s
      timeout: 5s
      retries: 4
    depends_on:
      cloud-config:
        condition: service_healthy
      discovery-service:
        condition: service_healthy
      payment-service:
        condition: service_healthy
      study-db:
        condition: service_started
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      SOAP_URL: http://payment-service:8189/api/v1/soap
      CONFIG_URL: http://cloud-config:8888
      EUREKA_URI: http://discovery-service:8761/eureka/
      LOGSTASH_HOST: docker-elk-logstash-1
      LOGSTASH_PORT: 5000
    restart: on-failure
    networks:
      - m-net
      - elk

  payment-db:
    image: postgres:14.1-alpine
    container_name: payment-db
    expose:
      - "5432"
    volumes:
      - ./.docker/database/init/payment:/docker-entrypoint-initdb.d/
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: payment-db
    networks:
      - m-net
      - elk

  study-db:
    image: postgres:14.1-alpine
    container_name: study-db
    expose:
      - "5432"
    volumes:
      - ./.docker/database/init/study:/docker-entrypoint-initdb.d/
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: study-db
    networks:
      - m-net
      - elk

networks:
  elk:
    external: true
    name: docker-elk_elk
  m-net:
    driver: bridge
    name: m-net