server:
  port: 8190

jwt:
  secret: SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
  lifetime: 1200000

soap-url: ${SOAP_URL}

#spring:
#  config:
#    import: "optional:configserver:http://spring-cloud-config:8888"