server:
  port: 80

soap:
  payment-url: ${SOAP_URL} #http://localhost:8189/api/v1/soap

spring:
  application:
    name: study-center
#  profiles:
#    active: study-center
  config:
    import: optional:configserver:${CONFIG_URL:http://localhost:8888}

logging:
  level:
    org:
      springframework:
        web:
          client:
            RestTemplate: DEBUG